.evo {
  font-size: 14px;
  margin-bottom: 100px;
}

.evo-black {
  background-color: #363636;
  padding: 100px 0 50px;
  color: #FFFFFF;
}

.evo-black__inner {
  position: relative;
}

.evo-black__inner::before {
  position: absolute;
  content: '';
  background-image: url(../images/dec1.svg);
  width: 185px;
  height: 213px;
  top: 210px;
  left: -130px;
}

.evo-black__inner::after {
  position: absolute;
  content: '';
  background-image: url(../images/dec2.svg);
  width: 498px;
  height: 572px;
  top: 290px;
  left: -30px;
}

.evo-black__info {
  display: flex;
  justify-content: space-between;
}

.evo-black__title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 32px;
  padding-right: 50px;
}

.evo-black__infoblock {
  flex-basis: 437px;
}

.evo-black__text {
  margin-bottom: 30px;
}

.evo-black__img {
  display: block;
  margin: 170px auto 60px;
  position: relative;
  z-index: 1;
}

.evo-black__descr-list {
  display: flex;
  justify-content: center;
  gap: 0 65px;
}

.evo-black__descr-list dd {
  text-transform: uppercase;
}

.evo-white__inner {
  padding-top: 125px;
  position: relative;
}

.evo-white__inner::before {
  position: absolute;
  content: '';
  background-image: url(../images/dec3.png);
  width: 274px;
  height: 257px;
  top: -20px;
  left: 365px;
}

.evo-white__inner::after {
  position: absolute;
  content: '';
  background-image: url(../images/dec4.png);
  width: 324px;
  height: 311px;
  top: 120px;
  left: 600px;
}

.evo-white__text {
  margin-bottom: 30px;
}

.evo-white__text:first-child {
  max-width: 285px;
}

.evo-white__text:nth-child(2) {
  max-width: 437px;
}

.evo-white__text:nth-child(3) {
  max-width: 590px;
}

.evo-white__video {
  margin-top: 100px;
  background-image: url(../images/car-video.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.evo-white__video-link span {
  display: block;
  color: #FFFFFF;
}

@media (max-width: 970px) {
  .evo-white__inner::after {
    display: none;
  }
}

@media (max-width: 670px) {
  .evo {
    margin-bottom: 50px;
  }

  .evo-white__inner {
    padding-top: 70px;
  }

  .evo-white__inner::before {
    display: none;
  }

  .evo-white__video {
    margin-top: 50px;
  }

  .evo-black__info {
    display: block;
  }

  .evo-black__img {
    margin-top: 130px;
  }

  .evo-black__title {
    margin-bottom: 15px;
  }

  .evo-black__descr-list {
    display: block;
    text-align: center;
  }

  .evo-black__descr-list div {
    margin-bottom: 15px;
  }
}

@media (max-width: 560px) {
  .evo-black__inner::after {
    display: none;
  }
}