.header {
  padding-top: 25px;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  gap: 0 40px;
  padding-top: 25px;
}

.menu__link {
  font-size: 16px;
  color: #363636;
}

.menu-left {
  padding-left: 25px;
}

.menu-right {
  padding-right: 80px;
}

.logo-img {
  align-self: center;
  margin-left: -10px;
}